
<h1>Login Page </h1>
<%= form_with model: @user, url:users_loggedin_path, local: true do |form| %>
	<p>
		<%= form.label :email_id,"Email_id" %><br>
		<%= form.text_field :email_id %>
	</p>
 	<p>
		<%= form.label :password,"Password" %><br>
		<%= form.text_field :password %>
	</p>
	<p>
		<%= form.submit "click" %>
	</p>

<% end %>