
<h1>SignUp Page </h1>
<%= form_with model: @user, local: true do |form| %>
	
	<p>
		<%= form.label :email_id,"Email_id" %><br>
		<%= form.text_field :email_id %>
	</p>
 	
 	<p>
		<%= form.label :password,"Password" %><br>
		<%= form.text_field :password %>
	</p>
 	
 	<p>
		<%= form.label :first_name,"First Name" %><br>
		<%= form.text_field :first_name %>
	</p>
 	
 	<p>
    <%= form.label :last_name,"Last Name" %><br>
    <%= form.text_field :last_name %>
  </p>
 	
 	<p>
    <%= form.label :dob, "DOB" %><br>
    <%= form.text_field :dob %>
  </p>
 	
 	<p>
    <%= form.label :city,"City" %><br>
    <%= form.text_field :city %>
  </p>
 	
 	<p>
    <%= form.label :country,"Country" %><br>
    <%= form.text_field :country %>
  </p>
 	
	<p>
		<%= form.submit %>
	</p>

<% end %>